<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<p style="text-align: right" th:text="${today}"></p>
<p style="text-align: right" th:text="${currDate}"></p>
    <h1>Soulyana Lakew</h1>
    <h2>10</h2>
    <h3>Pan's Labyrinth</h3>
    <h4>Better to eat soup with the one you love, than steak with the one you hate. Proverbs</h4>
    <h5>Ethiopian awaze tibs with shiro</h5>
    <h6>I love coding! And am so grateful to be at MC's CodeWork Academy!</h6>
</body>
</html>